* {
    --primary-color: #ffffff;
    --secondary-color: #1db9ce;
    --tertiary-color: #9ac1f0;
    --fourth-color: #5f7ab7;
    --fifth-color: #1b47a5;
    --cancel-color: #f91a47;
    --color-feature: #6e768a;
    --bg-feature: #f7f7f9;

    --width-thumnail: 150px;
}

.height-100 {
    height: 100%;
}

.primary-bg-color {
    background-color: var(--primary-color);
}

.secondary-bg-color {
    background-color: var(--secondary-color);
}

.tertiary-bg-color {
    background-color: var(--tertiary-color);
}

.fourth-bg-color {
    background-color: var(--fourth-color);
}

.fifth-bg-color {
    background-color: var(--fifth-color);
}

.cancel-bg-color {
    background-color: var(--cancel-color);
}

.primary-color {
    color: var(--primary-color);
}

.secondary-color {
    color: var(--secondary-color);
}

.tertiary-color {
    color: var(--tertiary-color);
}

.fourth-color {
    color: var(--fourth-color);
}

.fifth-color {
    color: var(--fifth-color);
}

.cancel-color {
    color: var(--cancel-color);
}

.primary-border-color {
    border-color: var(--primary-color);
}

.secondary-border-color {
    border-color: var(--secondary-color);
}

.tertiary-border-color {
    border-color: var(--tertiary-color);
}

.fourth-border-color {
    border-color: var(--fourth-color);
}

.fifth-border-color {
    border-color: var(--fifth-color);
}

.cancel-border-color {
    border-color: var(--cancel-color);
}

.thumnail {
    width: var(--width-thumnail);
    height: var(--width-thumnail);
    border-radius: 15px;
}

.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
